body {
    background-color: #fdcf4f;
    font-family: Lato;
}

.btn {
    background-color: #f58716;
    box-shadow: 0px 8px 14px 0 rgba(251, 128, 9, 0.25);
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #fff;
}
