@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Invitestyle.css" />
    <title>Index</title>
</head>
    <body>
        <div class="birthday-container">
            <div class="image">
            </div>
            <div class="title">
                party
            </div>
            <div class="subtitle">
                You are invited
            </div>
                <a class="btn" asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>

